# .coveragerc
[run]
branch = True
source = .

[report]
show_missing = True
skip_covered = True
precision = 2
omit = 
    tests/*
    test_*
    setup.py
    cfg_analyzer.py
    */__pycache__/*

[html]
directory = htmlcov

---